@use "./variables.scss" as vars;

html, body {
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	background-color: black;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}

h1, h2, h3, h4, h5, h6, a, button, p,
strong, legend, label, input, ul, li, div {
  font-variant-ligatures: none;
  word-wrap: break-word;
	color: vars.$wh;
}